<div class="accordion" id="info-geral">
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseGuia"
      aria-expanded="false"
      aria-controls="collapseGuia"
    >
      <div class="card-header" id="headingGuia">
        <h2 class="mb-0">
          Guia pela escola
        </h2>
      </div>
    </button>

    <div
      id="collapseGuia"
      class="collapse"
      aria-labelledby="headingGuia"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <div class="video-container">
          <iframe
            class="video-tour"
            src="https://youtube.com/embed/Yb3mUxjPqr8"
          ></iframe>
        </div>
        <p class="descricao-tour">
          Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <section class="social-share text-center">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-whatsapp"></a>
        <a href="#" class="fa fa-google"></a>
      </section>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseInfra"
      aria-expanded="false"
      aria-controls="collapseInfra"
    >
      <div class="card-header" id="headingInfra">
        <h2 class="mb-0">
          Infraestrutura
        </h2>
      </div>
    </button>
    <div
      id="collapseInfra"
      class="collapse"
      aria-labelledby="headingInfra"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <ul>
          <li>Alimentação: sim</li>
          <li>Laboratório de informática: sim</li>
          <li>Quadra coberta: sim</li>
          <li>Quadra aberta: sim</li>
          <li>Biblioteca: sim</li>
          <li>Sala de leitura: sim</li>
          <li>Parque infantil: sim</li>
          <li>Refeitório: sim</li>
          <li>Pátio coberto: sim</li>
          <li>Pátio aberto: sim</li>
          <li>Área verde: sim</li>
          <li>Internet: sim</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseMetodo"
      aria-expanded="false"
      aria-controls="collapseMetodo"
    >
      <div class="card-header" id="headingMetodo">
        <h2 class="mb-0">
          Método de ensino
        </h2>
      </div>
    </button>
    <div
      id="collapseMetodo"
      class="collapse"
      aria-labelledby="headingMetodo"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <h3>Metodologia de ensino Construtivista</h3>
        <p>
          Essa metodologia de ensino entende que o aluno é a peça central na
          aprendizagem. Por isso, ele deve ser estimulado a conquistar
          independência, resolver problemas e elaborar hipóteses e perguntas.
        </p>
      </div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseValores"
      aria-expanded="false"
      aria-controls="collapseValores"
    >
      <div class="card-header" id="headingValores">
        <h2 class="mb-0">
          Bolsas e valores
        </h2>
      </div>
    </button>
    <div
      id="collapseValores"
      class="collapse"
      aria-labelledby="headingValores"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <p>Valor: 700,00</p>
        <p>
          Oferece bolsa? Sim. Para mais informações, entre em contato com a
          instituição.
        </p>
      </div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseA11y"
      aria-expanded="false"
      aria-controls="collapseA11y"
    >
      <div class="card-header" id="headingA11y">
        <h2 class="mb-0">
          Acessibilidade
        </h2>
      </div>
    </button>
    <div
      id="collapseA11y"
      class="collapse"
      aria-labelledby="headingA11y"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <ul>
          <li>Atendimento especial: sim</li>
          <li>Classe especial exclusiva: sim</li>
          <li>Banheiro acessível: sim</li>
          <li>Dependências: sim</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseLocalizacao"
      aria-expanded="false"
      aria-controls="collapseLocalizacao"
    >
      <div class="card-header" id="headingLocalizacao">
        <h2 class="mb-0">
          Localização
        </h2>
      </div>
    </button>
    <div
      id="collapseLocalizacao"
      class="collapse"
      aria-labelledby="headingLocalizacao"
      data-parent="#info-geral"
    >
      <div class="card-body"></div>
    </div>
  </div>
</div>
