<div class="accordion" id="info-geral">
  <div class="card card-geral">
    <button
      class="btn btn-link"
      type="button"
      data-toggle="collapse"
      data-target="#collapseGuia"
      aria-expanded="true"
      aria-controls="collapseGuia"
    >
      <div class="card-header" id="headingGuia">
        <h2 class="mb-0">
          Guia pela escola
        </h2>
      </div>
    </button>

    <div
      id="collapseGuia"
      class="collapse show"
      aria-labelledby="headingGuia"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <h1 class="nome-escola">Colégio Anchieta</h1>
        <iframe class="video-tour" src="https://youtube.com/embed/Yb3mUxjPqr8">
        </iframe>
        <p class="descricao-tour">Descrição da tour</p>
      </div>
      <section class="social-share text-center">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-whatsapp"></a>
        <a href="#" class="fa fa-google"></a>
      </section>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseInfra"
      aria-expanded="false"
      aria-controls="collapseInfra"
    >
      <div class="card-header" id="headingInfra">
        <h2 class="mb-0">
          Infraestrutura
        </h2>
      </div>
    </button>
    <div
      id="collapseInfra"
      class="collapse"
      aria-labelledby="headingInfra"
      data-parent="#info-geral"
    >
      <div class="card-body"></div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseMetodo"
      aria-expanded="false"
      aria-controls="collapseMetodo"
    >
      <div class="card-header" id="headingMetodo">
        <h2 class="mb-0">
          Método de ensino
        </h2>
      </div>
    </button>
    <div
      id="collapseMetodo"
      class="collapse"
      aria-labelledby="headingMetodo"
      data-parent="#info-geral"
    >
      <div class="card-body"></div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseValores"
      aria-expanded="false"
      aria-controls="collapseValores"
    >
      <div class="card-header" id="headingValores">
        <h2 class="mb-0">
          Bolsas e valores
        </h2>
      </div>
    </button>
    <div
      id="collapseValores"
      class="collapse"
      aria-labelledby="headingValores"
      data-parent="#info-geral"
    >
      <div class="card-body"></div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseA11y"
      aria-expanded="false"
      aria-controls="collapseA11y"
    >
      <div class="card-header" id="headingA11y">
        <h2 class="mb-0">
          Assessibilidade
        </h2>
      </div>
    </button>
    <div
      id="collapseA11y"
      class="collapse"
      aria-labelledby="headingA11y"
      data-parent="#info-geral"
    >
      <div class="card-body"></div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseLocalizacao"
      aria-expanded="false"
      aria-controls="collapseLocalizacao"
    >
      <div class="card-header" id="headingLocalizacao">
        <h2 class="mb-0">
          Localização
        </h2>
      </div>
    </button>
    <div
      id="collapseLocalizacao"
      class="collapse"
      aria-labelledby="headingLocalizacao"
      data-parent="#info-geral"
    >
      <div class="card-body"></div>
    </div>
  </div>
</div>
