section {
  text-align: center;
}

section img {
  width: 70%;
  margin: 3rem 0 2rem;
}

section p {
  max-width: 350px;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.btn-onboard {
  color: #fff;
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}
