<div class="container">
  <section class="info-colegio">
    <h1 class="nome-escola">Colégio Anchieta</h1>
    <span class="avaliacao-geral">3.5/5 <i class="fa fa-star"></i></span>
    <img src="assets/images/anchieta.jpg" alt="#" class="img-fluid" />
    <p>
      A escola de ensino privado, possui 2930 alunos (segundo dados do Censo
      Escolar de 2018) em Educação Infantil, Ensino Fundamental I, Ensino
      Fundamental II e Ensino Médio. Em 13 de janeiro de 2019, o colégio
      completou 129 anos de fundação. A instituição é uma das vinte e duas obras
      da Companhia de Jesus que estão situadas na região Sul do Brasil
    </p>
  </section>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="geral-tab" data-toggle="tab" href="#geral"
        >Geral</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" id="indices-tab" data-toggle="tab" href="#indices"
        >Índices</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="comentarios-tab"
        data-toggle="tab"
        href="#comentarios"
        >Comentários</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contato-tab" data-toggle="tab" href="#contato"
        >Contato</a
      >
    </li>
  </ul>

  <div class="tab-content">
    <div
      id="geral"
      class="tab-pane fade show active"
      role="tabpanel"
      aria-labelledby="geral-tab"
    >
      <app-geral></app-geral>
    </div>
    <div
      id="indices"
      class="tab-pane fade"
      role="tabpanel"
      aria-labelledby="indices-tab"
    >
      <app-indices></app-indices>
    </div>
    <div
      id="comentarios"
      class="tab-pane fade"
      role="tabpanel"
      aria-labelledby="comentarios-tab"
    >
      <app-comentarios></app-comentarios>
    </div>
    <div
      id="contato"
      class="tab-pane fade"
      role="tabpanel"
      aria-labelledby="contato-tab"
    >
      <app-contato></app-contato>
    </div>
  </div>
</div>
