<section id="maps"></section>
<section id="cards-resultados">
  <div class="card-escola card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-4 foto" style="background-image: url('assets/images/julio-de-castilhos.jpg');">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h2 class="card-title">Colégio Estadual Júlio de Castilhos</h2>
          <p class="card-text">Av. Piratini, 76 - Santana</p>
          <p class="card-text">
            <span class="badge badge-secondary">Ensino público</span>
            <span class="badge badge-secondary">Ensino médio</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
