<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Segurança: <span id="seguranca">6,89</span></li>
    <li class="list-group-item">INEP: <span id="inep">6,89</span></li>
    <li class="list-group-item">IDEB anos iniciais: <span id="ideb-iniciais">6,89</span></li>
    <li class="list-group-item">IDEB anos primários: <span id="ideb-primarios">6,89</span></li>
    <li class="list-group-item">Professores contratados: <span id="professores">98/100</span></li>
  </ul>
</div>
