/* You can add global styles to this file, and also import other style files */
:root {
    --cor-primaria: ;
    --cor-secundaria: ;
    --background: ;
    --texto-primario: ;
    --texto-secundario: ;
    
}