/* You can add global styles to this file, and also import other style files */
:root {
  --cor-primaria: #3163a6;
  --cor-secundaria: #b175ff;
  --background: #fdfdfd;
  --texto-primario: ;
  --texto-secundario: ;
}

body {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

.card:not(.card-geral) {
  margin-bottom: 1rem;
}

button[type="submit"] {
  width: 100%;
}

.btn-primary {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}